<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Platform</key>
	<dict>
		<key>android</key>
		<dict>
			<key>playstore-icon</key>
			<integer>512</integer>
		</dict>
		<key>watchkit</key>
		<dict>
			<key>Icon-24@2x</key>
			<integer>48</integer>
			<key>Icon-27.5@2x</key>
			<integer>55</integer>
			<key>Icon-29@2x</key>
			<integer>58</integer>
			<key>Icon-29@3x</key>
			<integer>87</integer>
			<key>Icon-40@2x</key>
			<integer>80</integer>
			<key>Icon-44@2x</key>
			<integer>88</integer>
			<key>Icon-86@2x</key>
			<integer>172</integer>
			<key>Icon-98@2x</key>
			<integer>196</integer>
		</dict>
		<key>ios</key>
		<dict>
			<key>Icon-App-20x20@1x</key>
			<integer>20</integer>
			<key>Icon-App-20x20@2x</key>
			<integer>40</integer>
			<key>Icon-App-20x20@3x</key>
			<integer>60</integer>
			<key>Icon-App-29x29@1x</key>
			<integer>29</integer>
			<key>Icon-App-29x29@2x</key>
			<integer>58</integer>
			<key>Icon-App-29x29@3x</key>
			<integer>87</integer>
			<key>Icon-App-40x40@1x</key>
			<integer>40</integer>
			<key>Icon-App-40x40@2x</key>
			<integer>80</integer>
			<key>Icon-App-40x40@3x</key>
			<integer>120</integer>
			<key>Icon-App-60x60@2x</key>
			<integer>120</integer>
			<key>Icon-App-60x60@3x</key>
			<integer>180</integer>
			<key>Icon-App-76x76@1x</key>
			<integer>76</integer>
			<key>Icon-App-76x76@2x</key>
			<integer>152</integer>
			<key>Icon-App-83.5x83.5@2x</key>
			<integer>167</integer>
			<key>ItunesArtwork@2x</key>
			<integer>1024</integer>
		</dict>
		<key>macos</key>
		<dict>
			<key>Icon-App-16x16@1x</key>
			<integer>16</integer>
			<key>Icon-App-16x16@2x</key>
			<integer>32</integer>
			<key>Icon-App-32x32@1x</key>
			<integer>32</integer>
			<key>Icon-App-32x32@2x</key>
			<integer>64</integer>
			<key>Icon-App-128x128@1x</key>
			<integer>128</integer>
			<key>Icon-App-128x128@2x</key>
			<integer>256</integer>
			<key>Icon-App-256x256@1x</key>
			<integer>256</integer>
			<key>Icon-App-256x256@2x</key>
			<integer>512</integer>
			<key>Icon-App-512x512@1x</key>
			<integer>512</integer>
			<key>Icon-App-512x512@2x</key>
			<integer>1024</integer>
		</dict>
	</dict>
</dict>
</plist>
